<%- include('./partials/header.ejs') %>
  <div class="container">
    <h1>Edit <%= anime.name%>!</h1>
    <form action="/anime/<%= anime.id %>?_method=PUT" method="POST">
      Name: <input class="form-control mr-sm-2" type="text" name="name" value="<%= anime.name %>">
      <br>
      Favorite Character: <input class="form-control mr-sm-2" type="text" name="favoriteCharacter" value="<%= anime.favoriteCharacter %>">
      <br>
      Genre: <input class="form-control mr-sm-2" type="text" name="genre" value="<%= anime.genre %>">
      <br>
      Rate this anime!
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
<input type="radio" class="btn-check" name="rating" id="btnradio1" autocomplete="off" value="1"
<% if (anime.rating === 1) { %>
   <%="checked" %>
   <% } %>
   >
<label class="btn btn-outline-primary" for="btnradio1">1</label>

<input type="radio" class="btn-check" name="rating" id="btnradio2" autocomplete="off" value="2"
<% if (anime.rating === 2) { %>
   <%="checked" %>
   <% } %>
   >
<label class="btn btn-outline-primary" for="btnradio2">2</label>

<input type="radio" class="btn-check" name="rating" id="btnradio3" autocomplete="off" value="3"
<% if (anime.rating === 3) { %>
   <%="checked" %>
   <% } %>
   >
<label class="btn btn-outline-primary" for="btnradio3">3</label>

<input type="radio" class="btn-check" name="rating" id="btnradio4" autocomplete="off" value="4"
<% if (anime.rating === 4) { %>
   <%="checked" %>
   <% } %>
   >
<label class="btn btn-outline-primary" for="btnradio4">4</label>

<input type="radio" class="btn-check" name="rating" id="btnradio5" autocomplete="off" value="5"
<% if (anime.rating === 5) { %>
   <%="checked" %>
   <% } %>
   >
<label class="btn btn-outline-primary" for="btnradio5">5</label>
</div>
      <br>
      Would watch again: <input type="checkbox" name="watchAgain"
      <% if (anime.watchAgain) { %>
          checked
          <% } %>
        >
      <br>
      <input type="submit" value="Modify Anime">
    </form>
    </div>
  </body>
</html>
