<!DOCTYPE html>
<html>
  <head>
    <title><%=anime.name%> Page</title>
  </head>
  <body>
    <h1><%=anime.name%> Page</h1>
    <p>I give this anime a rating of <%=anime.rating%>!</p>
    <p>My favorite character is <%=anime.favoriteCharacter%>!</p>
    <p>This anime is an <%=anime.genre%> anime!</p>
    <% if (anime.watchAgain) { %>
      <p>I would most certainly watch <%=anime.name%> again!</p>
    <%  } else { %>
      <p>I would unfortunately not watch <%=anime.name%> again...</p>
    <% } %>
    <a href="/anime">Back to favorite anime home!</a>
  </body>
</html>
